<!DOCTYPE html> 
<html>
    <head>
        <meta charset="utf-8">
        <title>Home Page</title>
    </head>

    <body>
       {{>Header}} 

       <p>{{screamIt message}}</p>

       {{>Footer}}
    </body>
</html>